@use "./common" as *;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html,
body {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
}

main {
  padding: calc($size * 2);
}

/* Контейнер для Masonry */
.my-masonry-grid {
  display: flex;
  margin: 0 auto;
  // margin-left: -16px; /* Компенсує padding між колонками */
  width: min-content;
}

/* Колонки */
.my-masonry-grid_column {
  padding: 0 8px; /* Відступ між колонками */
  background-clip: padding-box;
}

/* Елементи */
.masonry-item {
  // width: 300px; /* Фіксована ширина елементів */
  // max-height: 400px; /* Максимальна висота елементів */
  margin-bottom: 16px; /* Відступ між елементами */
  // background: #e3e3e3;
  // border-radius: 8px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  // text-align: center;
  // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.grid_container {
  display: grid;
  grid-template-rows: masonry;
  gap: calc($size * 2);
  margin: 0 auto;
  width: fit-content;

  // grid-template-rows: min-content;
  // Small devices (landscape phones, 576px and up)

  @media (min-width: 576px) {
    grid-template-columns: min-content;
    // max-width: 376px;
  }
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    grid-template-columns: repeat(2, min-content);
    // max-width: 568px;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    grid-template-columns: repeat(3, min-content);
    // max-width: 792px;
  }

  // X-Large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    grid-template-columns: repeat(3, min-content);
    // max-width: 1000px;
  }

  // XX-Large devices (larger desktops, 1400px and up)
  @media (min-width: 1400px) {
    grid-template-columns: repeat(4, min-content);
    // max-width: 1200px;
  }
}

.hidden {
  display: none;
}

.add_note {
  background-color: black;
  padding: $size calc($size * 2);
  color: white;
  border: none;
  border-radius: $corners;
}
.toolbar {
  margin-bottom: calc($size * 3);
}
.add_note_form {
  @include card($size, $corners);
  // margin-top: calc($size * 2);

  input,
  textarea {
    background-color: transparent;
    border: none;
    resize: none;
    width: 100%;
    padding: $size 0;
    overflow: hidden;
    outline: none;
  }

  .save_button {
    @include primary_button();
  }
  .cancel_button {
    @include additional_button();
  }

  .editable_title_area {
    font-weight: 600;
  }
  .editable_content_area {
    max-height: 60vh;
    overflow-y: visible;
  }
}

$popup-bg: white;
$popup-color: black;
// $corners: 8px;
// $size: 8px;

dialog {
  background-color: $popup-bg;
  color: $popup-color;
  border: none;
  border-radius: $corners;
  padding: 0;
  margin: auto auto;
  overflow: hidden;
  max-height: 80vh;
  // width: 100%;
}
// .popup_container {
//   padding: calc($size * 3);
// }

// .popup_header {
//   line-height: calc($size * 3);
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   font-weight: bold;
//   margin-bottom: calc($size * 3);
// }
::backdrop {
  background-color: black;
  opacity: 0.2;
}
.close_btn {
  width: calc($size * 3);
  height: calc($size * 3);
  cursor: pointer;
  transform: translate($size, 0), calc(-1 * $size);
}
.close_btn_icon {
  width: calc($size * 1.5);
  height: 2px;
  display: block;
  background-color: $popup-color;
  position: relative;
  transform: translate(6px, 11px) rotate(45deg);
}
.close_btn_icon::after {
  content: "";
  display: block;
  position: absolute;
  width: calc($size * 1.5);
  height: 2px;
  background-color: $popup-color;
  left: 0;
  top: 0;
  transform: rotate(90deg);
}
.close_btn:hover {
  opacity: 0.7;
}
