@use "./common" as *;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html,
body {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
}

main {
  padding: calc($size * 2);
}

.grid_container {
  display: grid;
  gap: calc($size * 2);
  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    grid-template-columns: 1fr 1fr;
  }
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  // X-Large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  // XX-Large devices (larger desktops, 1400px and up)
  @media (min-width: 1400px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.hidden {
  display: none;
}

.add_note {
  background-color: black;
  padding: $size calc($size * 2);
  color: white;
  border: none;
  border-radius: $corners;
}
.toolbar {
  margin-bottom: calc($size * 3);
}
.add_note_form {
  @include card($size, $corners);
  margin-top: calc($size * 2);

  input,
  textarea {
    background-color: transparent;
    border: none;
    resize: none;
    width: 100%;
    padding: $size 0;
    overflow: hidden;
    outline: none;
  }

  .save_button {
    @include primary_button();
  }
  .cancel_button {
    @include additional_button();
  }

  .editable_title_area {
    font-weight: 600;
  }
  .editable_content_area {
  }
}
