@use "./common" as *;

.note {
  &_container {
    background-color: antiquewhite;
    border-radius: $corners;
    padding: calc($size * 3);
    @media (min-width: 576px) {
      width: 100%;
    }

    .title {
      margin-bottom: $size;
      padding-bottom: $size;
      font-size: 1.2rem;
      font-weight: bold;
      width: 100%;
      border-bottom: 1px solid #e7d2be;
    }
  }
}
.toolbar {
  margin-bottom: 10px;

  button {
    margin-right: 5px;
    // padding: 5px 10px;
    width: 16px;
    height: 16px;
    // padding: $size $size;
    border: none;
    border-radius: $corners;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      //   background-color: #e0e0e0;
      opacity: 0.7;
    }

    &.active {
      background-color: #000000;
      //   font-weight: bold;
    }
  }
}

.controls {
  margin-top: 10px;

  button {
    margin-right: 10px;
    // padding: 5px 10px;
    padding: $size calc($size * 2);
    border: none;
    background-color: #000000;
    color: white;
    border-radius: $corners;
    cursor: pointer;

    &:hover {
      //   background-color: #0056b3;
      opacity: 0.7;
    }

    &.cancel {
      background-color: transparent;
      color: black;

      &:hover {
        // background-color: #c82333;
        opacity: 0.7;
      }
    }
  }
}
