@use "./common" as *;

.note {
  &_container {
    @include card($size, $corners);
    // resize: vertical;
    @media (min-width: 576px) {
      width: 100%;
    }

    input,
    textarea {
      background-color: transparent;
      border: none;
      resize: none;
      width: 100%;
      padding: $size 0;
      overflow: hidden;
    }
  }

  &_header {
    display: flex;
    justify-content: space-between;

    .title {
      margin-bottom: $size;
      padding-bottom: $size;
      font-weight: 600;
      width: 100%;
      //
    }

    .delete_note {
      border: none;
      background-color: transparent;
      //   width: calc($size * 2);
      color: #000000;
      opacity: 0.3;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.controls {
  margin-top: 10px;

  button {
    // margin-right: 10px;
    @include primary_button;

    &:hover {
      //   background-color: #0056b3;
      opacity: 0.7;
    }

    &.cancel {
      @include additional_button;

      &:hover {
        // background-color: #c82333;
        opacity: 0.7;
      }
    }
  }
}
